{% extends 'main/ledy.html' %}

{% block title  %} Главная страница {% endblock %}

{% block content  %}

<div class="fixed-top">
</div>



<div class="features">

    <h1>Добро пожаловать</h1>

    <p>Мы рады приветствовать вас на нашем сайте, наша компания занимается решением коммерческих конфликтов,
        рассмотрением судебных дел и не только. Для полного ознакомления можете перейти по ссылке снизу.</p>

    <a href="#qwe">
        <button type="button" class="btn btn-outline-secondary">О нас</button>
    </a>
    <a href="#123">
        <button type="button" class="btn btn-outline-secondary">Ознакомиться с услугами</button>
    </a>

</div>

<div class="ona" id="qwe">

    <h1>Чем мы занимаемся</h1>
    <p>Наша компания Правовой Центр "Аспект" более 10 лет на рынке юридических услуг.
        Мы оказываем услуги юридическим и физическим лицам.
        За годы своей деятельности мы накопили большой опыт решения многих задач и достигли высокой эффективности.</p>

    <h1>Наши преимущества</h1>
    <p>Дело в том, что в современном мире человек без юридического образования часто оказывается беззащитен при
        возникновении различных вопросов.
        Оказавшись в затруднительном положении,самое разумное решение – это обратиться за консультацией и услугами
        юриста.</p>

    <a href="#kant"><button type="button" class="btn btn-outline-secondary">Наши контакты</button></a>

</div>

<div class="zat" id="123"><h1>rrr</h1></div>

<div class="serve_1" id="usl">
    <h1>ОФОРМЛЕНИЕ НАСЛЕДСТВА</h1>
    <p>Проконсультируем.
        Оформим наследство (сбор необходимых документов для наследственного дела, открытого у нотариуса)
        Недвижимое имущество оформим в регистрирующих органах</p>
</div>


<div class="serve_2">
    <h1 >ОФОРМЛЕНИЕ НЕДВИЖИМОСТИ</h1>
    <p>Проконсультируем.
        Оформим наследство (сбор необходимых документов для наследственного дела, открытого у нотариуса)
        Недвижимое имущество оформим в регистрирующих органах</p>
</div>

<div class="serve_3">
    <h1>ОФОРМЛЕНИЕ ДАРЕНИЯ ИМУЩЕСТВА</h1>
    <p>Проконсультируем
        Оформим договор дарения
        Предоставляем услугу по представлению интересов в Росреестре для регистрации договора дарения
        Скидка 40% предоставляется на составлене договора дарения</p>
</div>


<div class="one" ><a href="{% url 'create' %}">
    <button type="button" class="btn btn-outline-secondary">Создать заявку</button></a>
</div>

<div class="two"><a href="{% url 'create' %}">
    <button type="button" class="btn btn-outline-secondary">Создать заявку</button></a>
</div>

<div class="three"><a href="{% url 'create' %}">
    <button type="button" class="btn btn-outline-secondary">Создать заявку</button></a>
</div>


<div class="cont">
    <h1>e-mail адресс</h1>
    <p>predstavitel.s@mail.ru</p>
</div>

<div class="cont2">
    <h1>WhatsApp</h1>
    <p>8-913-975-19-89</p>
</div>

<div class="topi" id="kant">
     <a href="#top">
        <button type="button" class="btn btn-outline-secondary">На верх</button>
    </a>
</div>

{% endblock %}