
<dev class="ona">
    <h1 id="qwe">Чем мы занимаемся</h1>
    <p>Наша компания Правовой Центр "Аспект" более 10 лет на рынке юридических услуг.
        Мы оказываем услуги юридическим и физическим лицам.
        За годы своей деятельности мы накопили большой опыт решения многих задач и достигли высокой эффективности.</p>

    <h1>Наши преимущества</h1>
    <p>Дело в том, что в современном мире человек без юридического образования часто оказывается беззащитен при
        возникновении различных вопросов.
        Оказавшись в затруднительном положении,самое разумное решение – это обратиться за консультацией и услугами
        юриста.</p>


</dev>


<dev class="cont">
    <h1>e-mail адресс</h1>
    <p>predstavitel.s@mail.ru</p>

    <h1>WhatSapp</h1>
    <p>8-913-975-19-89</p>

    <a href="#top">
        <button type="button" class="btn btn-outline-secondary">На верх</button>
    </a>

</dev>


<dev class="serve">

    <h1>ОФОРМЛЕНИЕ НАСЛЕДСТВА</h1>
    <p id="about">Проконсультируем.
        Оформим наследство (сбор необходимых документов для наследственного дела, открытого у нотариуса)
        Недвижимое имущество оформим в регистрирующих органах</p>

    <h1>ОФОРМЛЕНИЕ НЕДВИЖИМОСТИ</h1>
    <p>Проконсультируем, полностью оформим приватизации, перепланировки,
        реконструкции, перевод из нежилого в жилое, из жилого в нежилое помещение, договоры дарения, продажи,
        мены, а также любые операции с недвижимостью.</p>

    <h1>ОФОРМЛЕНИЕ ДАРЕНИЯ ИМУЩЕСТВА</h1>
    <p>Проконсультируем Оформим договор дарения
        Предоставляем услугу по представлению интересов в Росреестре для регистрации договора дарения
        Скидка 40% предоставляется на составлене договора дарения</p>

</dev>